---
const tableCnt = [
  { number: 0, dapth1: '스타일가이드', htmlLink: 'styleGuide.html', linkTarget: 'guide' },
  { number: 0, dapth1: 'jqgrid', htmlLink: 'jqgrid.html', linkTarget: 'sub' },
  { number: 0, dapth1: '공통팝업', htmlLink: '공통팝업.html', linkTarget: 'popup' },
  { number: 1, dapth1: '로그인', htmlLink: 'main.html', linkTarget: 'main' },
  { number: 2, dapth1: '대시보드', htmlLink: '대시보드.html', linkTarget: 'sub' },
  { number: 3, dapth1: '평가관리', dapth2: '목표·면담 설정', tabDapth: '목표마스터 설정', htmlLink: '목표마스터설정.html', linkTarget: 'sub' },
  { number: 4, dapth1: '평가운영', dapth2: '리더십리뷰운영', htmlLink: '리더십리뷰운영.html', linkTarget: 'sub' },
  { number: 5, dapth1: '평가운영', dapth2: '개인성과평가운영', htmlLink: '개인성과평가운영.html', linkTarget: 'sub' },
  { number: 6, dapth2: '리뷰문항매핑', htmlLink: '리뷰문항매핑.html', linkTarget: 'sub' },
  { number: 7, dapth2: '평가군관리', htmlLink: '평가군관리.html', linkTarget: 'sub', firstDraft: '2023-08-21' },
  { number: 8, dapth2: '평가대상자관리', htmlLink: '평가대상자관리.html', linkTarget: 'sub', firstDraft: '2023-08-21' },
  { number: 9, dapth2: '평가조정위원회관리', htmlLink: '평가조정위원회관리.html', linkTarget: 'sub', firstDraft: '2023-08-21' },
  { number: 10, dapth2: '업무실적작성', htmlLink: '업무실적작성.html', linkTarget: 'sub', firstDraft: '2023-08-25' },
  { number: 11, dapth2: '목표상세', htmlLink: '목표상세.html', linkTarget: 'sub', firstDraft: '2023-08-25' },
  { number: 12, dapth2: '공지사항', htmlLink: '공지사항.html', linkTarget: 'sub', firstDraft: '2023-08-29' },
  { number: 13, dapth2: '개인성과평가실시', htmlLink: '개인성과평가실시.html', linkTarget: 'sub', firstDraft: '2023-09-06' },
  { number: 14, dapth2: '리더십리뷰결과', htmlLink: '리더십리뷰결과.html', linkTarget: 'sub', firstDraft: '2023-09-06' },
  { number: 14, dapth2: '일하는방식리뷰', htmlLink: '일하는방식리뷰.html', linkTarget: 'sub', firstDraft: '2023-09-08' },
  { number: 15, dapth2: '개인성과평가실시-변경', htmlLink: '개인성과평가실시-변경.html', linkTarget: 'sub', firstDraft: '2023-10-06' },
  { number: 16, dapth2: '업무이력작성', htmlLink: '업무이력작성.html', linkTarget: 'sub', firstDraft: '2023-10-06' },
  { number: 17, dapth2: '평가기간아닐때', htmlLink: '평가기간아닐때.html', linkTarget: 'sub', firstDraft: '2023-10-06' },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>가이드</title>
    <link rel="stylesheet" href="../assets/css/ui.css" />
  </head>

  <body>
    <div class="content-wrapper" id="content">
      <div class="content-section" id="app-cn" style="display: block">
        <table style="width: 100%" class="tbl-list mt20">
          <thead>
            <tr>
              <th>연번</th>
              <th>1Depth</th>
              <th>2Depth</th>
              <th>Tab-Depth</th>
              <th>퍼블1차</th>
              <th>퍼블수정</th>
              <th>퍼블컨펌</th>
              <th>추가의견</th>
              <th>콘텐츠(기본 유지)</th>
              <th>비고</th>
              <th>HTML 링크</th>
            </tr>
          </thead>
          <tbody>
            {
              tableCnt.map(function (item) {
                return (
                  <>
                    <tr>
                      <td>{item.number}</td>
                      <td>{item.dapth1}</td>
                      <td>{item.dapth2}</td>
                      <td>{item.tabDapth}</td>
                      <td>{item.firstDraft}</td>
                      <td>{item.revisedDraft}</td>
                      <td>{item.draftConfirmation}</td>
                      <td>{item.additionalComments}</td>
                      <td>{item.defaultStay}</td>
                      <td>{item.remarks}</td>
                      <td>
                        <a href=`../${item.linkTarget}/${item.htmlLink}` target="_blank">
                          {item.htmlLink}
                        </a>
                      </td>
                    </tr>
                  </>
                );
              })
            }

          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
