---
import { menu } from "../menu.js";
---

<ul class="gnb" id="gnb" tabindex="0">
	{
		menu.map(function ({ category, title, items }) {
			return (
				<li class="gnbItem">
					<a href={`../${category}/${items[0].url}.html`} class="gnbLink">
						{title}
					</a>
					<ul class="subPanel">
						{items.map(function ({ url, title }) {
							return (
								<li>
									<a href={`../${category}/${url}.html`}>{title}</a>
								</li>
							);
						})}
					</ul>
				</li>
			);
		})
	}
</ul>
